<div>

    <h1 id="collection_name">Code of Federal Regulations</h1>

    <div id="search-box">
        <legend>Quick Search</legend>

        <form action="" method="get">
            <div class="form-group">
                <label for="title-input">Title</label>
                <input id="title-input" class="form-control" type="number" name="title" value="{{ form.title.value }}">
                
                {% for error in form.title.errors %}
                    <small class="form-error">{{ error }}</small>
                {% endfor %}
                    
            </div>
            <div class="form-group">
                <label for="section-input">Section</label>
                <input id="section-input" class="form-control" type="text" name="section" value="{{ form.section.value }}">

                {% for error in form.section.errors %}
                    <small class="form-error">{{ error }}</small>
                {% endfor %}
            </div>
            <div class="form-group">
                <input type="hidden" name="search" value="1">
                <button class="btn btn-sm btn-primary">Search</button>
            </div>
        </form>
    </div>

</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {{ object.get_bread_crumbs }}
    </ol>
</nav>