{% extends 'Main/base.html' %}

{% block content %}

{% include 'CFR/node_head.html' %}

<div class="main-list">
    {% for node in nodes %}
    <div class="node-item">
        {% if node.has_children %}
            <p>{{ node.get_title }}</p>
            <div class="links">
                <a class="btn btn-sm btn-primary" href="{{ node.get_node_url }}">View</a>

                
                {% if node.has_html_paper %}
                    <a class="btn btn-sm btn-primary" href="{{ node.get_html_url }}">Paper</a>
                {% endif %}
                    
                
                {% if node.pdf_link %}
                    <a class="btn btn-sm btn-outline-primary" href="{{ node.pdf_link }}" target="_blank">PDF</a>
                {% endif %}
            </div>
        {% else %}
            <p>{{ node.get_title }}</p>
            <div class="links">
                <a class="btn btn-sm btn-primary" href="{{ node.get_html_url }}">Paper</a>

                {% if node.pdf_link %}
                    <a class="btn btn-sm btn-outline-primary" href="{{ node.pdf_link }}" target="_blank">PDF</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}